
/* 定义弹窗样式 */
.popup,
.failed-popup {
    position: fixed;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    z-index: 1000;
    opacity: 0;
    /* 初始透明度为0 */
    transition: opacity 0.3s ease-in-out;
    /* 添加过渡效果 */
}

/* 显示弹窗 */
.popup .visible,
.failed-popup .visible{
    opacity: 1;
    /* 当添加 visible 类时，透明度变为1 */
}

.popup .head, 
.failed-popup .head {
    text-align: center;
    padding-bottom: 1em;
}

.popup svg, 
.failed-popup svg {
    vertical-align: middle;
}

.popup h2,
.failed-popup h2 {
    display: inline-block;
    margin-left: 1em;
    /* text-align: center; */
    font-size: 36px;
    vertical-align: middle;
    margin: 0.5em;
}

.popup p,
.failed-popup p {
    font-size: 18px;
    text-align: center;
}