body::after {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.show-modal::after {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  /* 设置较大的z-index值 */
}

.modal-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  max-width: 90%;
  max-height: 90%;
  z-index: 10000;
}

#content .inner img {
  box-shadow: 0 0 1em rgb(184, 187, 206);
  border-radius: 1%;
  width: 50%;
  display: block;
  margin: 0 auto;
}
