<!-- Logo -->
<h1 id="logo">
    <a href="/index.html">
        <img style="width: 100%;" src="/assets/images/icon.png" alt="Logo">
        <!-- <div style="margin: 0.5em 0 0 0;">
					PiKesi
				</div> -->
    </a>
</h1>

<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="/life.html">Records & Thoughts</a></li>
        <li><a href="/note.html">Work & Study</a></li>
        <li><a href="/projects.html">Projects & Papers</a></li>
        <li><a href="/resume.html">Resume</a></li>
        <li><a href="/board.html">BBS(测试版)</a></li>
        <!-- <li><a href="#">Contact Me</a></li> -->
    </ul>
</nav>

<!-- Text -->
<section class="box text-style1">
    <div class="inner">
        <img style="width: 100%; margin: 0;" src="/assets/images/head.jpg" alt="Logo">
        <div style="text-align: center;">
            <strong> PIKESI </strong>
            <br />
            <!-- <strong> 爱 coding，更爱生活</strong> -->
        </div>
        <p>
            本站用于记录工作和学习笔记，也用于记录生活和感悟！
        </p>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a style="float: left; flex: 1;" href="https://github.com/PiKesi522/PiKesi522.github.io/issues">提供建议</a>
            <!-- <span style="border-left: 10px black solid;" ></span> -->
            <a style="float: right;" href="https://github.com/PiKesi522/PiKesi522.github.io/issues">反馈问题</a>
        </div>
    </div>
</section>

<style>
    #musicButton {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 40px;
        background-color: rgba(173, 178, 208, 0.3);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        opacity: 0.6;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        outline: none;
        animation: rotate 10s linear infinite;
        z-index: 1;
    }

    #musicButton.paused {
        animation-play-state: paused;
        background-color: rgba(116, 118, 130, 0.3);
    }

    #musicButton.pause:active {
        animation: stop-animat 0.2s linear;
    }

    @keyframes stop-animat {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
